<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binar.express.js</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/huge.css">
</head>

<body>
    <div class="container">
        <main class="main">
            <h1 class="title">
                Welcome to <a href="https://binaracademy.com">Binar.express.js</a>
            </h1>

            <p class="description">
                Get started by inspecting
                <code class="code">app/index.js</code>
            </p>
        </main>
    </div>
</body>

</html>